
@charset "CP852";
a {
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #1396e2;
  outline: none !important;
}
a:hover {
  text-decoration: none;
}
a:hover h1, a:hover h2, a:hover h3, a:hover h4 {
  color: #1396e2;
}
a:focus, a:active {
  outline: none !important;
  text-decoration: none;
}
a h1, a h2, a h3, a h4 {
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #073855;
}

body {
  background-color: #fff;
  color: #5a5a5a;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 15px;
}

h2 {
  font-size: 24px;
  font-weight: lighter;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 15px;
}

h3 {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 20px;
}

h4 {
  font-size: 14px;
  font-weight: lighter;
}

p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  font-family: "Arial", sans-serif;
}

section {
  position: relative;
}

ul.list-links {
  margin-top: -5px;
}
ul.list-links li a {
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #5a5a5a;
  display: block;
  padding: 5px 0;
  padding-left: 0;
}
ul.list-links li a:hover {
  color: #1396e2;
  padding-left: 5px;
}
/* 4. Header*/

.navigation {
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    /*margin-bottom: 20px;*/
    position: relative;
    width: 100%;
    z-index: 99;
    top: 0;
}

.navigation .navbar {
    border: none;
    margin-bottom: 0;
    min-height: inherit;
    padding: 30px 0;
    /**/
    display: table;
    width: 100%;
}
.navigation .navbar .collapse {
    display: table-cell !important;
    vertical-align: middle;
    float: none !important;
}
.navigation .navbar .navbar-brand {
    height: inherit;
    line-height: 0;
    padding: 0;
}
.navigation .navbar .navbar-nav {
    float: right;
}

.navigation .navbar .navbar-nav > li a {
    opacity: 0.7;
    color: #2a2a2a;
    line-height: 0;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 9px;
    position: relative;
}
.navigation .navbar .navbar-nav > li a:after {
    opacity: 0;
    background-color: #1396e2;
    bottom: -5px;
    content: "";
    left: 16px;
    height: 1px;
    position: absolute;
    width: 10px;
}
.navigation .navbar .navbar-nav > li a:hover {
    opacity: 1;
    background-color: transparent;
}
.navigation-fixed-bottom .navigation {
    bottom: 0;
    position: absolute;
    top: inherit;
}

.navigation-fixed-top .navigation {
    top: 0;
    position: fixed;
    bottom: inherit;
}

.navigation-fix-to-top {
    position: fixed !important;
    bottom: inherit !important;
    top: 0 !important;
}

/* 5. Footer */

#page-footer .inner {
    display: table;
    width: 100%;
}
#page-footer .inner h3 {
    color: #2a2a2a;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 0;
}
#page-footer .inner #footer-main {
    background-color: #f3f3f3;
    padding: 40px 0;
}
#page-footer .inner #footer-copyright {
    background-color: #073855;
    color: #fff;
    display: table;
    padding: 20px 0;
    width: 100%;
}
#page-footer .inner #footer-copyright a {
    color: #fff;
}
#page-footer .inner #footer-copyright a:hover {
    color: #1396e2;
}
#page-footer .inner .property:last-child {
    margin-bottom: 0 !important;
}
#page-footer .inner .property-thumbnail {
    background-color: #1396e2;
    float: left;
    height: 60px;
    overflow: hidden;
}
#page-footer .inner .property-thumbnail:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
#page-footer .inner .property-thumbnail img {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    width: 100%;
}

body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

#page-content {
  height: auto;
}

#page-footer {
  display: table-row;
  height: 1px;
}

/* 7. Responsive */


  .agent-info {
    margin-bottom: 30px;
  }

  .col-sm-4 .property {
    border: 2px solid #f3f3f3;
  }
  .col-sm-4 .property:hover img {
    top: 0;
  }
  .col-sm-4 .property .additional-info {
    display: none;
  }
  .col-sm-4 .property .overlay {
    bottom: 0;
    position: relative;
  }
  .col-sm-4 .property .overlay .info {
    background: none;
  }
  .col-sm-4 .property .overlay .info h3 {
    text-shadow: none;
    color: #073855;
  }
  .col-sm-4 .property .overlay .info figure {
    color: #5a5a5a;
    font-size: 12px;
  }
  .col-sm-4 .property .overlay .info .tag {
    margin-bottom: 5px;
  }

  .display-lines .property {
    padding-left: 220px;
  }
  .display-lines .property .info h3 {
    font-size: 24px !important;
  }
  .display-lines .property .property-image {
    height: 150px;
    width: 200px;
  }

  .member {
    margin-bottom: 40px !important;
    padding-left: 60px;
  }
  .member h3 {
    font-size: 14px;
  }
  .member dl {
    font-size: 10px;
  }
  .member .image img {
    width: 50px;
  }

  .property .property-image {
    /*height: 255px;*/
  }
  .property.big .overlay {
    bottom: -50px;
  }
  .property.big .overlay h3 {
    font-size: 18px;
  }
  
@media (max-width: 767px) {
  .agency .agency-image {
    display: block;
    width: inherit;
  }
  .agency .agency-image img {
    max-width: 100%;
  }
  .agency .wrapper {
    display: block;
    width: inherit;
  }
  .agency .wrapper dl, .agency .wrapper address {
    display: block;
    width: inherit;
    margin-left: 0;
  }
  .agency .wrapper dl {
    margin-bottom: 30px;
  }

  .agency-image {
    text-align: center;
    margin-bottom: 30px;
  }

  .agent {
    padding-left: 0;
    text-align: center;
  }
  .agent .agent-image {
    display: inline-block;
    position: relative;
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
    width: inherit !important;
  }
  .agent .agent-image img {
    width: inherit !important;
  }

  blockquote {
    display: block !important;
    padding: 20px 0 !important;
    text-align: center;
  }
  blockquote figure {
    display: inline-block !important;
    margin-bottom: 30px;
  }
  blockquote .cite {
    display: block !important;
    padding-left: 0;
  }


  .map-osm #map:after {
    display: none;
  }

  #map {
    margin-top: 0 !important;
  }
  #map:after {  
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    font-family: 'fontawesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    color: #2a2a2a;
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    background-color: #fff;
    content: "\f07d";
    padding: 12px 16px;
    right: 15px;
    z-index: 1;
  }


  .navigation {
    position: relative !important;
  }
  .navigation .navbar {
    display: block !important;
    padding: 20px 0 !important;
    width: 100%;
  }
  .navigation .navbar .navbar-collapse {
    border-top: none;
    max-height: inherit;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .navigation .navbar .collapse {
    display: none !important;
    float: inherit !important;
  }
  .navigation .navbar .collapse.in {
    display: block !important;
  }
  .navigation .navbar .navbar-nav li.active a:after {
    display: none;
  }  .navigation .navbar .navbar-nav li a {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .navigation .navbar .navbar-nav li a:after {
    display: none;
  }

  .wrapper {
    display: block;
  }
}
@media print {
  #page-footer, .breadcrumb {
    display: none;
  }
